// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.app-section {
    position: relative;
    padding-left: 15.5rem;
    padding-top: 4.2rem;
    width: calc(100% - 2rem);
}

.img {
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.meta {
    position: relative;
    z-index: 0;
    margin-bottom: 10px;

    &:after {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #000000;
    }

    span {
        background: #fff;
    }
}
